#filter-by.panel-group.ficha-collapse
  h3 Filtrar por
  each filter in filters
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-parent='#filter-by', data-toggle='collapse', href=`#item-${filter.attribute}`, aria-expanded='false', aria-controls=`item-${filter.attribute}`)
            = filter.title
        button.collpase-button.collapsed(type='button', data-parent='#filter-by', data-toggle='collapse', href=`#item-${filter.attribute}`)
      .panel-collapse.collapse(id=`item-${filter.attribute}`)
        .panel-body
          each item in filter.menu
            a(href=`/dataset?${filter.attribute}=${item.url_param}`) #{item.title} (#{item.total})
