header.toolbar.breadcrumb-container
  .container-fluid: .row
    .col-md-8.col-sm-12
      ul.breadcrumb
        li
          a(href='/dataset')
            i.glyphicon.glyphicon-home
        each item, index in breadcrumbs
          li(class=(index === breadcrumbs.length - 1 ? "active" : ""))
            a(href=item.link)= item.name
