extends layout
block content
  .container-fluid
    .row: .col-md-12
      #main-container: .row
        #sidebar.col-md-3.col-sm-3
          include includes/filter-collapsible

        #content.col-md-9.col-sm-9
          include includes/search-form
          .row: .col-md-12: #datasets-container
            each item in datasets
              .dataset-item
                .col-md-10.col-sm-10.col-xs-12
                  h3
                    span.tag-icon(class=`tag-${item.metadatas.theme}`)
                    a(href=`/dataset/${item.name}`)= item.title
                  p= item.description
                .col-md-2.col-sm-2.col-xs-12
                  .dependency
                    strong
                      a(href=`/organization/${item.metadatas.publisher_name}`)
                        = item.metadatas.publisher
                  .dataset-format-container
                    each resource in item.resources
                      a.dataset-format(data-format=resource.format, href=resource.url)
                        = resource.format

