extends layout
block content
  .container-fluid
    .row: .col-md-12
      h1.section-title Instituciones
      #main-container: .row
        #sidebar.col-md-3.col-sm-3
          h3.institution-name= source.institution_title
          p.text-center
            a(href=`/organization/${source.institution}`)
              img(src=source.picture_url, alt=source.institution_title, width='200')
          .gray-bg.text-center
            p
              strong BETA: 
              | ¿Buscas algo más?
            a.btn.btn-primary(href=`https://datos.gob.mx/informa/?organization=${source.institution}`) Informa
          include includes/filter-collapsible

        #content.col-md-9.col-sm-9
          header.module-content
            a.btn.btn-danger.report(href=`https://datos.gob.mx/reportar/?media_url=https://datos.gob.mx/organization/conadic/dataset/${source.name}`) Reportar
            ul.nav.nav-tabs.nav-header
              li.active
                a(href=`/dataset/${source.namel}`)
                  i.glyphicon.glyphicon-th-list
                  |  Conjunto de datos
              li
                a(href=`/dataset/activity/${source.namel}`)
                  i.glyphicon.glyphicon-time
                  |  Actividad
              li
                a(href=`/dataset/groups/${source.namel}`)
                  i.glyphicon.glyphicon-th-large
                  |  Grupos
          include includes/search-form
          .row: .col-md-12: #datasets-container
            each item in datasets
              .dataset-item
                .col-md-10.col-sm-10.col-xs-12
                  h3
                    span.tag-icon(class=`tag-${item.metadatas.theme}`)
                    a(href=`/dataset/${item.name}`)= item.title
                  p= item.description
                .col-md-2.col-sm-2.col-xs-12
                  .dependency
                    strong
                      a(href=`/organization/${item.metadatas.publisher_name}`)
                        = item.metadatas.publisher
                  .dataset-format-container
                    each resource in item.resources
                      a.dataset-format(data-format=resource.format, href=resource.url)
                        = resource.format